<%= simple_form_for([@idea, @category], remote: true) do |f| %>

  <div class="form-inputs">
    <%= f.input :title, as: :string %>
    <%= f.input :description, as: :string %>
    <%= f.input :status, priority: ['incomplete'], collection: [ "incomplete", "in progress", "done"]  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-outline-primary'  %>
  </div>
<% end %>
